<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd"> 
        
       <bean name="idea" class="com.anupama.xml.Idea"/>
       <bean name="voda" class="com.anupama.xml.Vodaphone"/>
       
       <bean name="studentSet" class="com.anupama.di.literal.StudentSetterDemo">
       		<property name="name" value="Anupama"></property>
       </bean>
       
       <bean name="laxmi" class="com.anupama.di.literal.StudentSetterDemo">
       		<property name="name" value="Laxmi K"></property>
       </bean>
       
        <bean  name="constStudent" class="com.anupama.di.literal.StudentConstDemo">
        	<constructor-arg name="id" value="1" type = "int"></constructor-arg>
       		<constructor-arg name="nameStudent" value="Pradeep" type="java.lang.String"/>
       </bean>
	
</beans>